#de-img-upload-btn {
    background-color: #21ae21;
    width: 5rem;
    border-color: #21ae21;
}


.attach-images { 
    height: 200px;
}


.upload-image {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    height: 200px;
    cursor: pointer;

}


.upload-image i{
    font-size: 3rem;
}